/* ==================================================
   Fonts
================================================== */
@font-face {
    font-family: 'GeometrN'; /*a name to be used later*/
    src: url('/fonts/geometr_n.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Geometr'; /*a name to be used later*/
    src: url('/fonts/geometr.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MicrosoftYi'; /*a name to be used later*/
    src: url('/fonts/microsoft_yi.ttf'); /*URL to font*/
}

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans",Arial,Helvetica Neue,sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.btn-lym {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-orange {
  background-color: #F79100;
}

.btn-orange:hover {
  color: #fff;
}

h2 {
  font-family: 'GeometrN';
}

h3 {
  font-family: 'Geometr';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
}

h2, h3 {
  color: #474747;
  margin: 0;
}

p {
  font-size: 16px;
}

/* ==================================================
   Colors
================================================== */
.green {
  color: #019587;
}

.blue {
  color: #02A8F4;
}

.orange {
  color: #FF5521;
}

.brown {
  color: #795549;
}

/* ==================================================
   Home
================================================== */
.lym-header{
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .lym-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#logo-header {
  float: left;
  margin: 13px 0 0 5%;
}

#logo-header img {
  display: block;
  height: 50px;
}

#logo-header{
  margin: 10px 0 0 5%;
}

#logo-header.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }

@media only screen and (min-width: 1170px) {
  /*#logo-header.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left)
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }*/
  #logo-header.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
}
#home {
  background-image: url('/img/background1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #008300;*/
}

#home .layer{
  background-color: rgba(255,255,255,0.3);
}

#home .logo-container {
  padding: 80px 50px 60px;
  text-align: center;
}

#home .logo {
  border-radius: 50%;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
  display: inline-block;
  padding: 58px 74px;
}

#home .logo h1{
  font-size: 1.6em;
  font-family: 'GeometrN';
  letter-spacing: 1px;
  color: #706F6F;
  margin: 0.5em 0;
}

#home .logo h1 .slogan{
  font-family: 'MicrosoftYi';
  font-size: 1em;
  font-weight: bold;
}

#home .logo img {
  margin: auto;
  width: 250px;
}

/* ==================================================
   LyM Nav
================================================== */
.lym-nav {
  position: relative;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lym-nav ul{
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(247, 145, 0, 0.96);
  visibility: hidden;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}

.lym-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

.lym-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #4c4c4c;
  color: #fff;
}
.lym-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 1170px) {
  .lym-nav {
    z-index: 99;
    height: 90px;
    background-color: rgba(247, 145, 0, 1);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .lym-nav nav, .lym-nav ul, .lym-nav li, .lym-nav a {
    height: 100%;
  }
  .lym-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .lym-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .lym-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 37px 35px 0 35px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .lym-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    /*color: rgba(240, 238, 225, 0.3);*/
    color: #fff;
    letter-spacing: 2px;
  }
  .lym-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../img/cd-nav-icons.svg);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .lym-nav li a:hover b {
    color: #4c4c4c;
  }
  .lym-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .lym-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .lym-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .lym-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .lym-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .lym-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .lym-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .lym-nav.animate-children ul{
    height: 50px;
    margin-top: 10px;
  }
  .lym-nav.animate-children li a {
    padding: 17px 30px 0 30px;
  }
  .lym-nav li a.active{
    background-color: #4C4C4C;
    border-radius: 4px;
  }
  .lym-nav.animate-children li a.active b {
    color: #fff;
  }
  .lym-nav.animate-children li a span {
    opacity: 0;
  }
}

.lym-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgba(247, 145, 0, 0.96);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.lym-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.lym-nav-trigger span::before, .lym-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.lym-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.lym-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.lym-nav-trigger.menu-is-open {
  background: transparent;
}
.lym-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.lym-nav-trigger.menu-is-open span::before, .lym-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.lym-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.lym-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .lym-nav-trigger {
    display: none;
  }
}

/* ==================================================
    Sections
================================================== */
.myl-section {
  padding: 70px 0;
}

.myl-section h2{
  padding: 1em 0 2.5em;
  text-align: center;
  font-weight: bold;
}

/* ==================================================
   Services
================================================== */
#services .service {
  min-height: 250px;
  margin-bottom: 50px;
}

#services .service img {
  height: 150px;
  margin: 0 auto;
}

#services .service h3 {
  margin-top: 25px;
  text-align: center;
  min-height: 50px;
}

#services .service p {
  text-align: center;
  margin-top: 25px;
  padding: 0 10px 0 10px;
}

/* ==================================================
   About us
================================================== */
#about-us {
  min-height: 500px;
  background: url('/img/logo-transparent.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
}

#about-us .row {
  display: table;
}

#about-us .au-slogan, #about-us .au-description {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
#about-us .au-slogan h3 {
  font-style: oblique;
}

#about-us .au-description p{
  line-height: 2;
  text-align: justify;
}

/* ==================================================
   testimonials
================================================== */
#testimonials {
  background-color: #706F6F;
}

#testimonials h2 {
  color: #DCDDDE;
}

#testimonials .ns_slideContent {
  padding: 50px 70px 30px;
}

#testimonials article .testimonial-text{
  min-height: 180px;
}

#testimonials article .testimonial-text p{
  font-style: oblique;
  text-align: justify;
  color: #DCDDDE;
}

#testimonials article .testimonial-author img {
  height: 50px;
  border-radius: 50%;
}

#testimonials article .testimonial-author p {
  margin-left: 70px;
  color: #474747;
}

/* ==================================================
   values
================================================== */

#values .value {
  min-height: 200px;
  margin-bottom: 50px;
}

#values .value .value-title{
  min-height: 60px;
}

#values .value .value-title h3 {
  text-align: center;
}

#values .value .value-content {
  margin-top: 20px;
}

#values .value .value-content img {
  margin: 0 auto 20px;
}

#values .value .value-content ul li {
  margin-bottom: 10px;
}

#values .value .value-content span {
  font-size: 16px;
  margin-left: 8px;
}

/* ==================================================
   Contact
================================================== */
#contact {
  background-color: #706F6F;
  color: #fff;
}

#contact h2 {
  color: #fff;
}

#lym-contact .form-col{
  padding: 0 30px;
}

#contact .contact-info, #contact .contact-form {
  padding: 50px 0;
}

#contact .contact-form {
  padding-bottom: 0;
}

#contact-submit {
  border-color: #474747;
  border-width: 1px;
}

#contact-submit:hover {
  background-color: #F7A93B;
}

.contact-info .contact-icon {
  display: block;
  margin-bottom: 30px;
}

#contact .contact-form textarea{
  height: 132px;
}

/* ==================================================
   Footer
================================================== */
.lym-footer {
  background-color: #474747;
  padding: 14px 30px;
}

.lym-footer span a {
  color: #706F6F;
  font-weight: bold;
}

.lym-footer span a:hover, .lym-footer span a:focus {
  color: #fff;
}

.lym-footer .social-icons i {
  margin: 10px 5px;
  color: #706F6F;
}
